@page
@model OvidiuZakariasProiect.Pages.Albums.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Album</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Album.Id" />
            <div class="form-group">
                <label asp-for="Album.Name" class="control-label"></label>
                <input asp-for="Album.Name" class="form-control" />
                <span asp-validation-for="Album.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.ReleaseDate" class="control-label"></label>
                <input asp-for="Album.ReleaseDate" class="form-control" />
                <span asp-validation-for="Album.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.ArtistId" class="control-label">Artist</label>
                <select asp-for="Album.ArtistId" class="form-control" asp-items="ViewBag.ArtistId"></select>
                <span asp-validation-for="Album.ArtistId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Album.GenreId" class="control-label">Genre</label>
                <select asp-for="Album.GenreId" class="form-control" asp-items="ViewBag.GenreId"></select>
                <span asp-validation-for="Album.GenreId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
